/*-----------------------------*/
/*       Layout Styles         */
/*-----------------------------*/

/* ---- Searchbar --- */

form {
    @include flexy($just: center);
    margin: 40px 0;
}

input {
    padding: 10px;
    border-radius: 9px;
    border: 2px solid lightgrey;
}