/*-----------------------------*/
/*       Layout Styles         */
/*-----------------------------*/

/* ---- Searchbar --- */

input {
    display: block;
    margin: 40px auto;
    padding: 10px;
    border-radius: 9px;
    border: 2px solid lightgrey;
}