@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap');

h4 {
    font-family: "Fredoka One", "Arial Black", "Arial Bold", Gadget, sans-serif;
    letter-spacing: 2px;
}

p {
    font-family: Lato, Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}